element.style {
    display: flex;
}

* {
    box-sizing: border-box;
}
div {
    display: block;
}
.lesson {
    position: relative;
    margin: 0 auto;
    transition: padding .3s;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    line-height: 1.5;
    font-family: lato,sans-serif;
    font-size: 1.6em;
    color: #313537;
}
html {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}

.lesson__content {
    position: relative;
    max-height: 100vh;
    margin: 0 auto;
    background: #f5f5f5;
    transition: transform .3s;
    height: 100%;
    overflow: hidden;
}
.lesson__content:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    bottom: 0;
    width: 2rem;
    box-shadow: inset -2rem 0 2rem -2rem rgba(0,0,0,.24);
    pointer-events: none;
}

a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.page-view {
    height: 100%;
    overflow: hidden;
}

.page-wrap {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.page, .page-wrap {
    position: relative;
}

.page-wrap {
    overflow: hidden;
}
.page {
    min-height: 100%;
}

.previous-lesson {
    color: #313537;
    align-items: center;
    justify-content: center;
    border-top: .1rem solid #ddd;
    background: #f0f0f0;
    display: none;
    height: 7rem;
    position: relative;
    overflow: hidden;
}

.previous-lesson__link {
    text-decoration: none;
    color: inherit;
    margin-bottom: .3rem;
    display: flex;
    flex-direction: column;
    transition: color .3s;
}
.previous-lesson [class*=icon-] {
    text-align: center;
    font-size: 1.4rem;
}
.icon-chevron-up:before {
    content: "\e60c";
}
.brand--ui, .brand--ui * {
    font-family: Lato !important;
}
.brand--ui, .brand--ui * {
    font-family: 'Lato' !important;
}
.previous-lesson__title {
    font-weight: 700;
    font-size: 1.4rem;
}
.page__wrapper--white {
    background-color: #fff;
}
.page__wrapper {
    position: relative;
    background-color: #f5f5f5;
    transition-duration: .75s;
    transition-property: transform;
    min-height: 100vh;
}
.page__menu {
    position: absolute;
    padding: 1.7rem;
    top: 0;
    width: 100%;
    z-index: 10;
}
.button--menu {
    position: relative;
    height: 4rem;
    width: 4rem;
    top: -1rem;
    left: -1rem;
    padding: 1rem;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    transition: color .3s;
}
.button, .button--menu {
    display: inline-block;
    color: #313537;
}
.button {
    -webkit-appearance: none;
    font-size: inherit;
    font-family: lato,sans-serif;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font: inherit;
    color: inherit;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (min-width: 33.75em)
.page__header {
    padding-top: 5rem;
}
.page__header {
    background: #fff;
    padding-top: 5rem;
    position: relative;
    z-index: 2;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.page__header-container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 92rem;
}
@media (min-width: 33.75em)
.page__header-container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.lesson-header {
    position: relative;
    z-index: 3;
    padding-bottom: 2.25rem;
}

.lesson-header__top-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 4.5rem 0 3rem;
    padding-bottom: 1.5rem;
}

.brand--lhead, .brand--lhead * {
    font-family: Lato !important;
}

.brand--lhead, .brand--lhead * {
    font-family: 'Lato' !important;
}

.lesson-header__title {
    position: relative;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: merriweather,serif;
    line-height: 1.2;
    color: #2d363a;
}

.fr-view {
    word-wrap: break-word;
}

.brand--body, .brand--body * {
    font-family: Merriweather !important;
}

.lesson-header__counter {
    order: -1;
    margin-bottom: 1.2rem;
    line-height: 1.75;
    font-size: 1rem;
    font-family: merriweather,serif;
    font-style: italic;
    font-weight: 400;
}

.lesson-header__top-wrap:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16rem;
    height: .3rem;
    background: #50abf1;
    transition: background .3s;
}

.brand--afterBackground:after {
    background-color: #FF631E !important;
}


.lesson-header__description {
    margin-bottom: 3rem;
    font-family: merriweather,serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.941176470588235;
}

.fr-view {
    word-wrap: break-word;
}

.progress-wrap {
    position: relative;
    height: 2px;
    z-index: 200;
}

.lesson--open .progress {
    left: 28rem;
    margin-left: -28rem;
}
.progress {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 0;
    transition-duration: .3s;
    transition-property: padding,height;
    background: transparent;
}

.progress__container {
    position: relative;
    width: 100%;
    min-height: 2px;
    padding: .3rem 0;
    overflow: hidden;
}

.brand--background {
    background-color: #FF631E !important;
}
.progress__indicator {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    height: 2px;
    background: #50abf1;
    transition-duration: .3s;
    transition-property: transform;
}

.page__header:after {
    background-color: #eaeaea;
    bottom: 0;
    content: "";
    height: .1rem;
    left: 0;
    position: absolute;
    width: 100%;
}

.page__content--appear {
    opacity: 1;
}

.page__content {
    opacity: 0;
    transform: none;
    transition-duration: .6s;
    transition-property: transform,opacity;
}

.blocks-lesson {
    background: #fff;
    padding-bottom: 2rem;
}

@media (min-width:48em) {
 .blocks-lesson {
  padding-bottom:9.5rem
 }
}

.noOutline {
    outline: none;
}

.block-text {
    padding: 3rem 0;
    position: relative;
    transition: padding .5s;
    font-size: 1.7rem;
}

.block-text__container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 92rem;
    overflow: hidden;
}

@media (min-width: 33.75em)
.block-text__container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.block-text__container {
    overflow: visible;
}

.brand--head, .brand--head * {
    font-family: Lato !important;
}
.block-text h2 {
    padding: .8rem 0;
    line-height: 1.25;
    font-size: 2.8rem;
    font-weight: 700;
}
.block-text {
    padding: 3rem 0;
    position: relative;
    transition: padding .5s;
    font-size: 1.7rem;
}
.block-text__container {
    overflow: visible;
}
@media (min-width: 33.75em)
.block-text__container {
    padding-left: 3rem;
    padding-right: 3rem;
}   
.block-text__container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 92rem;
    overflow: hidden;
}

.brand--head, .brand--head * {
    font-family: Lato !important;
}
.block-text p {
    margin-bottom: 3.4rem;
    font-family: merriweather,serif;
    font-weight: 400;
    line-height: 1.941176470588235;
}
.block-text p:last-child {
    margin-bottom: 0;
}